.center {
    text-align: center;
}

.title {
    font-family: fantasy, 'Times New Roman', serif;
    font-size: 46px;
    font-weight: bold;

}

.caption {
    color: brown;
    font-family: fantasy, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: italic;

}

.signing-on {
    background-color: blue;
    color: whitesmoke;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
}

.container {
    position: center;
    width: 100%;
}

.container:hover .image {
    opacity: 0.5;
}

.image {
    transition: 0.5s ease;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    display: block;
}